<html>
<body>
  <table border="1">
    <tr>
      <th>Entry</th>
    </tr>
    {% for line in package_change.stdout_lines %}
    <tr>
      <td>{{ line }}</td>
    </tr>
    {% endfor %}
  </table>
</body>
</html>