<html>
<body>
  <table border="1">
    <tr>
      <th>New Packages</th>
    </tr>
    {% for line in package_change.stdout_lines %}
    <tr>
      {% if '<' in line %}<td>{{ line }}</td>{% endif %}
    </tr>
    {% endfor %}
  </table>
</body>
</html>